<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
	</startup>
	<appSettings>
		<add key="Depth" value="6"/>
		<add key="Color" value="W"/>
		<add key="Play" value="S"/>
		<add key="Stop" value="Q"/>
	</appSettings>
</configuration>